// $font-face:poppins;
@font-face {
  font-family: popins;
  src: url(./poppins/Poppins/Inter-VariableFont_slnt\,wght.ttf);
}
*{
  padding: 0;
  margin: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  max-width: 1900px;
  margin: 0 auto;
  background-color: #11011E;;
  position: relative;
}

.header{
  display: flex;
  align-items: center;
  //justify-content: space-between;
  height: 100px;
  width: 1960px;
  margin-left: 0;

  .inforimg{
  display: flex; 
  margin-top: 35px;
  width: 17.92px;
  height: 44px;
  gap: 13px;
  margin-left: 182px;
}

.inforimg2 img {
margin-top: 15px;
width: 135px;
height: 28px;
}

.categories {
  display: flex;
  gap: 25px;
  position: absolute;
  right: 660px;
  // width: 219px;
  height: 20px;
  // list-style: none;
  margin-top: 50px;
  //margin-left: 110px;
}

// .tab img{
//   width: 98px;
//   height: 1px;
//   margin-top: 126px;
// //margin-right:507px;
// }

.icon{
  display: flex;
  gap: 10px;
  align-items: center;
 justify-content: space-between;
 width: 59px;
  //margin-right: 80px;
  //margin-top: 45px;
  &__country img{
    width:23px;
    height: 22px;
    border-radius: 50%;
    margin-top: 45px;
  }
  .ru img {
    width: 24px;
  height: 17px;
  margin-top: 50px;
  
  }
  .vec{
    width: 20px;
    height: 14px;
    margin-top: 45px;
   //margin-left: 5px;
  }

  .vector {
    margin-top: 45px;
    margin-left: 85px;
   display: flex;
   gap: 20px;
   width: 24px;
   height: 24px;
  }
  
}
}

.data{
  margin-left: 170px;
 margin-top:115px;
  align-items: center;
  // line-height: 92px;
  &__contact {
    //position: absolute;
    align-items: center;
    color: white;
    font-size: 42px;
    font-family:popins;
  }
  .about {
    line-height: 31px;
    font-size: 22px;
    margin: 35px 0;
  }
}
//------------------BUTTON SECTION-------------------------
  .all{
    display: flex;
    gap: 130px;
  position: absolute;
  left: 170px;
 
   button{
    background-color: #2a2929cc;
    border: 1px solid #2a2929cc;
    border-radius: 5px;
   padding: 15px 33px;
   font-size: 19px;
   margin: 0 13px;
    }
    
    .productbtn{
      border-radius: 5px;
   padding: 15px 33px;
    font-size: 19px;
    background-color: white;
    margin: 0 12px 0 0;
    }
  }
  .all button :hover{
    cursor: pointer;
    background-color: white;
    color: black;
  }
  ///----------------------------------------------------------------------------------------
  .body__infor{
    position: absolute;
    //right: 843px;
   left: 170px;
    margin-top: 120px;
    // justify-content: center;
    // text-align: center;
    //align-items: center;
    width: 470px;
    height: 410px;
    display: flex;
    gap: 100px;
  }
  .body__infor-2{
    position: absolute;
    //right: 843px;
    left:170px;
    margin-top: 570px;
    width: 470px;
    height: 410px;
    display: flex;
    gap: 100px;
  }
.numb{
  position: absolute;
  //left: 1170px;
  right: 157px;
  top: 830px;
}
.footer{
  position: absolute;
   top: 1488px;
  left: 820px;
  // bottom: 0;
  //display: flex;
  //text-align: center;
  //align-items: flex-end;
}



































///---------------------------------------RESPONSIVE SECTION---------------------------------------------------------------------
// @media only screen and (max-width:1200px) {
//   .header{
//     width: 1100px;
//     display: flex;
//     //gap: 20px;
//     //justify-content: space-between;
//   }
//   .inforimg{
//     display: flex; 
//     position: absolute;
//     //right: 930px;
//     left: 0;
//     top: 25px;
//     width: 20px;
//     height: 55px;
//   }
//   .inforimg2 img {
//   margin-top: 15px;
//   margin-left: 3px;
//   width: 95px;
//   height: 30px;
//   }
//   .categories {
//     display: flex;
//     gap: 26px;
//     width: 12px;
//     height: 13px;
//     //justify-content: space-between;
//     align-content: center;
//     margin-top: 50px;
//     margin-left: 250px;
//   }
//   .tab{
//     width: 30px;
//     height: 1px;
//     margin-top: 86px;
//   //margin-right:380px;
//   margin-left: 0;
//   }
  
//   .icon{
//     display: flex;
//    // justify-content: space-between;
//     margin-right: 160px;
//     //margin-top: 45px;
//     &__country img{
//       width:30px;
//       height: 30px;
//       border-radius: 50%;
//       margin-top: 45px;
//     }
//     .ru{
//       width: 15px;
//     height: 17px;
//     margin-top: 50px;
//     //margin-left: 10px;
//     }
//     .vec{
//       width: 19px;
//       height: 10px;
//       margin-top: 50px;
//       //margin-left: 5px;
//     }
  
//     // .texno{
//     //   //margin-top: 75px;
//     // }
//     .vector__img{
//       margin-top: 45px;
//       margin-left: 2px;
//      display: flex;
//      gap: 5px;
//      width: 30px;
//      height: 30px;
//     }
//   }
//   .data{
//     position: absolute;
//     right: 300px;
//     top: 205px;
//     .contact{
//       position: absolute;
//       //top: 195px;
//      // right: 605px;
//     }
//     .about{
//       margin: 30px 0;
//     }
//     .all{
//       display: flex;
//      margin-top: 143px;
//      gap: 20px;
//       //position: absolute;
//       //left: 0;
//     }
//   }
//   .body__infor{
//     position: absolute;
//     right: 780px;
//     margin-top: 350px;
//     width: 320px;
//     height: 340px;
//     display: flex;
//     gap: 30px;
//   }
//   .body__infor-2{
//     position: absolute;
//     right: 780px;
//     margin-top: 750px;
//     width: 320px;
//     height: 340px;
//     display: flex;
//     gap: 30px;
//   }
//   .numb{
//     position: absolute;
//     left: 1170px;
//     top: 730px;
//     display: none;
//   }
//   .footer{
//     position: absolute;
//     top: 1298px;
//     left: 350px;
//   }
// }

// // @media only screen and(max-width:992px) {
  
// // }
//.header{}