// $font-face:poppins;
@font-face {
  font-family: popins;
  src: url(./poppins/Poppins/Inter-VariableFont_slnt\,wght.ttf);
}
*{
  padding: 0;
  margin: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  max-width: 1900px;
  margin: 0 auto;
  background-color: #11011E;;
  position: relative;
}

.header{
  display: flex;
  align-items: center;
  //justify-content: space-between;
  height: 100px;
  width: 1960px;
  margin-left: 0;

  .inforimg{
  display: flex; 
  margin-top: 35px;
  width: 17.92px;
  height: 44px;
  gap: 13px;
  margin-left: 182px;
}

.inforimg2 img {
margin-top: 15px;
width: 135px;
height: 28px;
}

.categories {
  display: flex;
  gap: 25px;
  position: absolute;
  right: 660px;
  // width: 219px;
  height: 20px;
  // list-style: none;
  margin-top: 50px;
  //margin-left: 110px;
}

// .tab img{
//   width: 98px;
//   height: 1px;
//   margin-top: 126px;
// //margin-right:507px;
// }

.icon{
  display: flex;
  gap: 10px;
  align-items: center;
 justify-content: space-between;
 width: 59px;
  //margin-right: 80px;
  //margin-top: 45px;
  &__country img{
    width:23px;
    height: 22px;
    border-radius: 50%;
    margin-top: 45px;
  }
  .ru img {
    width: 24px;
  height: 17px;
  margin-top: 50px;
  
  }
  .vec{
    width: 20px;
    height: 14px;
    margin-top: 45px;
   //margin-left: 5px;
  }

  .vector {
    margin-top: 45px;
    margin-left: 85px;
   display: flex;
   gap: 20px;
   width: 24px;
   height: 24px;
  }
  
}
}

.data{
  margin-left: 170px;
 margin-top:115px;
  align-items: center;
  // line-height: 92px;
  &__contact {
    //position: absolute;
    align-items: center;
    color: white;
    font-size: 42px;
    font-family:popins;
  }
  .about {
    line-height: 31px;
    font-size: 22px;
    margin: 35px 0;
  }
}
//------------------BUTTON SECTION-------------------------
  .all{
    display: flex;
    gap: 130px;
  position: absolute;
  left: 170px;
 
   button{
    background-color: #2a2929cc;
    border: 1px solid #2a2929cc;
    border-radius: 5px;
   padding: 15px 33px;
   font-size: 19px;
   margin: 0 13px;
    }
    
    .productbtn{
      border-radius: 5px;
   padding: 15px 33px;
    font-size: 19px;
    background-color: white;
    margin: 0 12px 0 0;
    }
  }
  .all button :hover{
    cursor: pointer;
    background-color: white;
    color: black;
  }
  ///----------------------------------------------------------------------------------------
  .body__infor{
    position: absolute;
    //right: 843px;
   left: 170px;
    margin-top: 120px;
    // justify-content: center;
    // text-align: center;
    //align-items: center;
    width: 470px;
    height: 410px;
    display: flex;
    gap: 100px;
  }
  .body__infor-2{
    position: absolute;
    //right: 843px;
    left:170px;
    margin-top: 570px;
    width: 470px;
    height: 410px;
    display: flex;
    gap: 100px;
  }
.numb{
  position: absolute;
  //left: 1170px;
  right: 150px;
  top: 830px;
}
.footer{
  position: absolute;
   top: 1488px;
  left: 820px;
  // bottom: 0;
  //display: flex;
  //text-align: center;
  //align-items: flex-end;
}



































///---------------------------------------RESPONSIVE SECTION---------------------------------------------------------------------
@media only screen and (max-width:1200px) {
  body{
    max-width: 1200px;
   
  }
  .header{
    width: 1100px;
    display: flex;
    //gap: 20px;
    //justify-content: space-between;
  }
  .inforimg img{
    display: flex; 
    position: absolute;
    //right: 930px;
    left: 0;
    top: 25px;
    width: 35px;
    height: 50px;
    margin-left: 123px;
  }
  .inforimg2 img {
  margin-top: 15px;
  margin-left: 168px;
  width: 95px;
  height: 22px;
  }
  .categories{
    position: absolute;
    left: 420px;
    top: 0;
    //margin-left: 290px;
    //margin-top: 0;
  }
  .categories img {
    display: flex;
    gap: 2px;
    justify-content: center;
    width: 61px;
    height: 13px;
    align-content: center;
    margin-top: 0;
    text-align: center;
    //margin-left: 213px;
  }
  
  .icon{
    display: flex;
   position: absolute;
   top: 0;
   right: 330px;
    &__country img{
      width:20px;
      height: 20px;
      border-radius: 50%;
      margin-top: 45px;
    }
    .ru img{
      width: 10px;
    height: 11px;
    margin-top: 30px;
    }
    .vec {
      width: 13px;
      height: 8px;
      margin-top: 50px;
    }
  
    .vector img{
      margin-top: 0;
      margin-left: 2px;
     display: flex;
     
     width: 20px;
     height: 20px;
    }
  }
  .data{
    position: absolute;
    top: 75px;
    margin-left: 120px;
    // left: 0;
    // margin-left: 0;
    width: 850px;
    .contact{
      position: absolute;
    }
    // .about{
    //   margin: 30px 0;
    // }
    .all  {
      width: 850px;
      display: flex;
     position: absolute;
     left: 0;
     margin-left:0;
    }
  }
  .body__infor{
    position: absolute;
    // right: 780px;
    margin-top: 380px;
    margin-left: 0;
    left: 75px;
    width: 339px;
    height: 310px;
    display: flex;
    gap: 10px;
  }
  .body__infor-2{
    position: absolute;
    left: 65px;
    // right: 780px;
    margin-top: 720px;
    width: 320px;
    height: 320px;
    display: flex;
    gap: 10px;
  }
  .numb{
    position: absolute;
    left: 1170px;
    top: 730px;
    display: none;
  }
  .footer{
    position: absolute;
    top: 1208px;
    left: 420px;
  }
}

////992-responsive--------------------------

@media only screen and  ( max-width:992px ) {
  body{
    max-width: 980px;
    height: 1650px;
  }
  .header{
    width: 1100px;
    display: flex;
  }
  .inforimg img{
    display: flex; 
    position: absolute;
    left: 0;
    top: 25px;
    width: 29px;
    height: 49px;
  }
  .inforimg2 img {
  margin-top: 15px;
  width: 90px;
  height: 20px;
  }
  .categories{
    position: absolute;
    top: 0;
  }
  .categories img {
    display: flex;
    gap: 2px;
    justify-content: center;
    width: 61px;
    height: 13px;
    align-content: center;
    margin-top: 0;
    text-align: center;
    margin-left: 0;
    //margin-left: 213px;
  }

  .icon{
    display: flex;
   position: absolute;
   top: 0;
   right: 190px;
    &__country img{
      width:3px;
      height: 9px;
      border-radius: 50%;
      margin-top: 45px;
    }
    .ru img{
      width: 10px;
    height: 11px;
    margin-top: 30px;
    }
    .vec {
      width: 13px;
      height: 8px;
      margin-top: 50px;
    }
    .vector{
      margin-right: 515px;
      margin-left: 0;
      position: absolute;
      left: 20px;
    }
    .vector img{
      margin-top: 0;
     display: flex;
     width: 20px;
     height: 20px;
    }
  }
  .data{
    position: absolute;
    top: 45px;
    //margin-left: 100px;
    width: 850px;
    text-align: center;
    .contact{
      position: absolute;
    }
    // .about{
    //   margin: 30px 0;
    // }
    .all  {
      width: 850px;
      display: flex;
     position: absolute;
  left: 0;
    }
  }
  .body__infor img{
    width: 520px;
    height: 300px;
  }
  .body__infor{
    grid-template-columns: auto auto;
    margin-top: 380px;
    margin-left: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .body__infor-2 img{
    width: 520px;
    height: 300px;
  }
  .body__infor-2{
    grid-template-columns: auto auto;
   margin-left: 450px;
    margin-top: 380px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .numb{
    position: absolute;
    left: 1170px;
    top: 730px;
    display: none;
  }
  .footer{
    position: absolute;
    left: 320px;
    bottom: 0;
    top: 1500px;
    background-image:url(./images/Paginator.png);
    background-repeat: no-repeat;
    background-position:center;
  }
}

@media only screen and  ( max-width:768px ) {
  body{
    max-width: 768px;
  }
  .header{
    width: 992px;
    display: flex;
  }
}